:root {
    --violet: rgba(103, 37, 168, 1);
    --white: rgba(255, 255, 255, 1);
    --search-bar: rgba(255, 255, 255, 0.2);
    --black: rgba(0, 0, 0, 1);
    --magenta: rgba(203, 17, 171, 1);
    --gray: rgba(151, 151, 175, 1);
    --light-gray: rgba(160, 160, 164, 1);
    --rulers: rgba(0, 0, 0, 0.2);
    --coral: rgba(255, 59, 48, 1);
    --green: rgba(12, 180, 119, 1);
    --light-green: rgba(12, 180, 119, 0.2);
    --gradient-start: rgba(12, 211, 139, 1);
    --gradient-end: rgba(12, 180, 119, 1);
    --smoky: rgba(246, 246, 250, 1);
    --smoky-dark: rgba(240, 236, 244, 1);
    --orange: rgba(245, 81, 35, 1);
    --deep-orange: rgba(255, 151, 13, 1);
    --light-white: rgba(255, 255, 255, 0.7)
}