.bucket__available {
}
.available {
}
.available__choose-all {
}
.choose-all {
    display: flex;
    align-items: center;
    position: relative;
    height: 24px;
    margin-bottom: 16px;

    &__checkbox {
        flex: 1 1 auto;
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        position: relative;
        padding: 0 0 3px 33px;

        & input {
            display: none;
        }

        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            top: 2px;
            border-radius: 6px;
            background-color: var(--magenta);
            background-image: url('/src/assets/images/Input.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    &__hide {
        
        &::before {
            position: absolute;
            top: 12px;
            right: 1px;
            content: '';
            width: 11px;
            height: 2px;
            transform: rotate(45deg);
            background-color: var(--gray);
        }

        &::after {
            position: absolute;
            top: 12px;
            right: 8px;
            content: '';
            width: 11px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: var(--gray);
        }
    }
}
.available__choose-item {
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
}
.available__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.item {
}
.item__about {
    padding: 11px 0 0 0;
    display: flex;
}
.item__photo {
    position: relative;
    margin-right: 16px;

    & img {
        border-radius: 8px;
        padding: 0 0 0 34px;
    }

    & input {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        left: 0;
        top: 37.5px;
        border-radius: 6px;
        background-color: var(--magenta);
        background-image: url('/src/assets/images/Input.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
.item__info {
    max-width: 275px;
}
.info {
}
.info__name {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;
}
.info__param {
    display: flex;
    font-weight: 400px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}
.info__color {
    margin-right: 16px;
}
.info__size {
}
.info__location {
    font-weight: 400px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 4px;
    color: var(--light-gray);
}
.minus-margin {
    margin-top: -8px;
}
.info__company {
    display: flex;
    font-weight: 400px;
    font-size: 13px;
    line-height: 16px;
    color: var(--light-gray);

    p {
        margin-right: 8px;
    }

    button {
        text-align: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: transparent;
        border: 1px solid var(--light-gray);
        color: var(--gray);
        font-size: 10px;
        font-weight: 700;
    }
}
.item__counter {
    display: flex;
    padding: 9px 0 0 0;
}
.item__count {
    margin-right: 16px;
    padding: 3px 0 0 0;
    width: 100px;
    height: 44px;
}
.count {
}
.count__number {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 100px;
    height: 44px;
    background-color: var(--white);
    border-radius: 8px;
    margin-bottom: 8px;
    position: relative;
    padding: 8px 3px 13px 4px;
    

    &-minus{
        position: absolute;
        left: 16px;
        top: 48%;
        transform: translateX(-50%);
        width: 9px;
        height: 1px;
        background: var(--rulers);
    }

    &-num{
        color: var(--black);
    }

    &-plus{
        position: absolute;
        right: 13px;
        top: 18%;
        width: 5px;
        height: 5px;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -1%;
        align-items: center;
        font-weight: 400;
        transform: translateX(-50%);
        color: var(--rulers);
    }

    .active-color {
        color: var(--black);
    }
    .active-back {
        background: var(--black);
    }
}

.count__left {
    margin-bottom: 8px;
    color: var(--coral);
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}
.count__liked {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 3px;
}
.count__like {
    margin-right: 18px;
    width: 20px;
    height: 20px;
}
.count__remove {
    width: 16px;
    height: 17px;
}
.item__price {
    width: 110px;
    height: 44px;
}
.price {
}
.price__current {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 5px;

    .value {
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0;
        margin-right: 5px;
    }

    .value__huge {
        font-weight: 700;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0;
        margin-right: 5px;
    }
    .currency {
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
    }
    .currency__huge {
        font-weight: 700;
        font-size: 16px;
        line-height: 30px;
    }
}

.price__previous {
    display: flex;
    justify-content: flex-end;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 54px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--light-gray);
    }

    .value {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--light-gray);
        margin-right: 3px;
        border-bottom: 1px dashed var(--light-gray);
        
    }
    .currency {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--light-gray);
        border-bottom: 1px dashed var(--light-gray);
    }
}
.price__previous-huge {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: -3px;

    &::before {
        content: '';
        position: absolute;
        width: 83px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--light-gray);
    }

    .value {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--light-gray);
        margin-right: 3px;
        border-bottom: 1px dashed var(--light-gray);
        
    }
    .currency {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: var(--light-gray);
        border-bottom: 1px dashed var(--light-gray);
    }
}
.price__previous-short {
    display: flex;
    justify-content: flex-end;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 48px;
        height: 1px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--light-gray);
    }

    .value {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: var(--light-gray);
        margin-right: 3px;
        border-bottom: 1px dashed var(--light-gray);
        
    }
    .currency {
        font-weight: 400;
        font-size: 13px;
        line-height: 24px;
        color: var(--light-gray);
        border-bottom: 1px dashed var(--light-gray);
    }
}