@use '../util/' as *;

.main__bill {
    
}
.bill__wrapper{
    
}
.bill__info {
    margin-bottom: 24px;
}
.info {
    &__total {
        display: flex;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 4px;
    
        @include breakpoint(phone) {
            font-size: 20px;
            line-height: 34px;
            letter-spacing: -0.20px;
            margin-bottom: 2px;
        }
    
        h2 {
            display: block;
            flex: 1 1 auto;
        }
    }

    &__pieces {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    
        @include breakpoint(phone) {
            margin-bottom: -2px;
        }
    
        h2 {
            display: block;
            flex: 1 1 auto;
        }
    }

    &__sale {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
    
        h2 {
            display: block;
            flex: 1 1 auto;
        }
    }

    &__date {
        color: var(--magenta);
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 13px;
    
        @include breakpoint(phone) {
            display: none;
        }
    }
    &__back {
            padding: 8px 8px 12px 8px;
            display: flex;
            background-color: var(--smoky);
            border-radius: 8px;
            margin-bottom: 28px;
            position: relative;
    
            @include breakpoint(phone) {
                background-color: var(--smoky-dark);
                margin-bottom: -5px;
            }
            
            span {
                    position: relative;
                    width: 22px;
                    height: 20px;
                    top: 7px;
                    left: 0px;
                    margin-right: 10px;
                    border-radius: 50%;
                    // background: linear-gradient(to left, var(--gradient-start), var(--gradient-end));
        
                    @include breakpoint(phone) {
                        margin-right: 15px;
                    }
                    
                &::before {
                    content: '';
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 2px;
                    left: 2px;
                    border-radius: 50%;
                    background: var(--white);
                    border: 2px solid var(--gradient-start);
                }
        
                &::after {
                    content: '';
                    left: 3px;
                    top: 4px;
                    position: absolute;
                    height: 15px;
                    width: 15px;
                    background-image: url('/src/assets/images/Tick.svg');
                    background-repeat: no-repeat;
                    background-position: 65% 50%;
                    
                }
            }
        
            .back__about {
                visibility: hidden;
                position: absolute;
                top: 48px;
                left: 5%;
                width: 288px;
                height: 56px;
                padding: 10px 16px 14px 16px;
                border-radius: 8px;
                background-color: var(--white);
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            }
    
            div {
                font-weight: 400;
                font-size: 13px;
                line-height: 16px;
                padding: 2px 0 0 0;
        
                a {
                   color: var(--green);
                   border-bottom: 1px dashed var(--light-green); 
    
                   &:hover + .back__about {
                    visibility: visible;
                   }
                }
    
            }
    }
    &__credit {
    }

    &__delivery {
        display: flex;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 24px;
    
        @include breakpoint(phone) {
            margin-top: -2px;
            margin-bottom: 14px;
        }
    
        h2 {
            display: block;
            flex: 1 1 auto;
        }
    }
    &__place {
    }
}

.total {
    &__value {
        margin-right: 3px;
        letter-spacing: 1%;
    
        @include breakpoint(phone) {
            font-size: 20px;
            line-height: 34px;
            letter-spacing: -0.05px;
        }
    }
    &__currency {
        font-size: 20px;
        line-height: 36px;
    }
}
.pieces {
    &__value {
        margin-right: 3px;
    }
    &__currency {
    }
}
.sale {
}
.sale__value {
    margin-right: 3px;
}
.sale__currency {
}
.place {
    &__edit {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
    
        @include breakpoint(phone) {
            display: none;
        }
    }
    &__edit2 {
        display: flex;
        justify-content: space-between;
    
        @include breakpoint(phone) {
            display: none;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }
    &__button {
        width: 16px;
        height: 16px;
        background-image: url(/src/assets/images/edit.svg);background-color: transparent;
    }
    &__address {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 4px;
    
        @include breakpoint(phone) {
            display: none;
        }
    }
}
.credit {
}
.pay__system1 {
    margin-top: 10px;
    display: flex;
    font-size: 13px;
    align-items: center;
    margin-bottom: 10px;
}
.card__system {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--smoky);
    width: 32px;
    height: 24px;
    border-radius: 4px;
    margin-right: 9px;

    @include breakpoint(phone) {
        display: none;
    }
}
.pay__number {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: right;

    @include breakpoint(phone) {
        display: none;
    }
}
.info__instant {
    background-color: var(--smoky);
    border-radius: 8px;
    padding: 8px 8px 12px 8px;

    @include breakpoint(phone) {
        background-color: var(--smoky-dark);
    }

    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }
}
.instant {
}
.instant__input {
    display: flex;
    margin-bottom: 8px;
    cursor: pointer;

    input {
        display: none;
    }

    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 22px;
    }
}
.input__checkbox {
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 8px;

    &.instant__pay {
        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 22px;
            background-color: var(--magenta);
            border: none;
            left: 0;
            top: 0;
            border-radius: 6px;
            background-image: url('/src/assets/images/Input.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        background-color: var(--smoky);
        border: 1px solid var(--light-gray);
        left: 0;
        top: 0;
        border-radius: 6px;
    }
}
.bill__button {
    background-color: var(--magenta);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border-radius: 8px;
    padding: 0 32px 5px 32px;
    margin-bottom: 10px;
    cursor: pointer;

    @include breakpoint(phone) {
        margin-bottom: 14px;
    }

    button {
        font-size: 16px;
        width: 100%;
        height: 100%;
        font-weight: 700;
        text-align: center;
        line-height: 24px;
        background-color: transparent;
        color: var(--white);
    }
    
}
.button {
}
.bill__rules {
    display: flex;
    align-items: flex-start;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;

    p {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
    }

    a {
        color: var(--black);
        position: relative;
        border-bottom: 1px solid var(--rulers);
    }
}
.rules {
}
.rules__checkbox {
    width: 13px;
    height: 24px;
    position: relative;
    margin-right: 10px;

    input {
        display: none;
    }

    &::before {
        content: '';
        position: absolute;
        width: 12.51px;
        height: 10.16px;
        top: 3.32px;
        left: 0.26px;
        background-image: url(/src/assets/images/black_tick.svg);
        background-repeat: no-repeat;
    }
}