@use '../util/' as *;

.bucket__delivery {
    margin-bottom: 16px;
    background-color: var(--white);
    padding: 16px 0 24px 0;
    border-radius: 16px;

    @include breakpoint(tabphone) {
        max-width: 100vw;
        margin-left: -16px;
        padding: 16px 0 24px 0;
    }

    @include breakpoint(phone) {
        max-width: 320px;
        margin-left: -16px;
        padding: 16px 0 24px 0;
    }
}
.delivery__edit {
    display: flex;
    padding: 0 24px 0 24px;
    margin-bottom: 16px;

    @include breakpoint(phone) {
        padding: 0 16px 0 16px;
        margin-bottom: 10px;
    }

    h2 {
        max-width: 755px;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -1%;
        margin-right: 10px;

        @include breakpoint(phone) {
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -0.20px;
        }
    }

    button {
        padding: 7px 0 0 0;
        width: 78px;
        color: var(--magenta);
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        background: transparent;
        cursor: pointer;

        @include breakpoint(phone) {
            padding: 3px 0 0 0;
        }
    }
}
.delivery__address {
    display: flex;
    padding: 0 24px 0 24px;
    margin-bottom: 16px;

    @include breakpoint(phone) {
       flex-direction: column;
       padding: 0 16px 0 16px;
    }
}
.address {
    &__title {
        width: 177px;
        margin-right: 2px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    &__info {
    }
    &__city {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 2px;
        padding: 2px 0 0 5px;
    
        @include breakpoint(phone) {
            flex-direction: column;
            padding: 0;
        }
    }
    &__info-more{
        display: flex;
    }
    &__rate {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        position: relative;
        margin-right: 8px;
        padding: 1px 0 0 22px;
    
        @include breakpoint(phone) {
            padding: 0 0 0 16px;
         }
    
        &::before {
            content: '';
            position: absolute;
            left: 3px;
            top: 2px;
            width: 15px;
            height: 15px;
            background: url('/src/assets/images/Stars.svg');
            background-repeat: no-repeat;
            background-position: 50% 50%;
    
            @include breakpoint(phone) {
                left: 0;
                top: 0;
                background-position: 0 0;
             }
    
        }
    }
    &__timer{
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        padding-top: 1px;
    }
}
.delivery__cost {
    display: flex;
    padding: 0 24px 0 24px;
    margin-bottom: 16px;

    @include breakpoint(phone) {
    flex-direction: column;
    padding: 0 16px 0 16px;
    }
}
.cost {
    &__title {
        width: 177px;
        margin-right: 2px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    }
    &__value {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding: 0 0 0 5px;
    
        @include breakpoint(phone) {
            padding: 0;
        }
    }
}
.delivery__list {
    margin-bottom: 24px;
}
.list {
    &__order {
        display: flex;
        padding: 0 24px 0 24px;
        margin-bottom: 16px;
    
        @include breakpoint(phone) {
            flex-direction: column;
            padding: 0 16px 0 16px;
            margin-bottom: 24px;
        }
    }
    &__date {
        width: 177px;
        margin-right: 2px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
    
        @include breakpoint(phone) {
            margin-bottom: 12px;
        }
    }
    &__items {
        padding: 0 0 0 5px;
        display: flex;
    
        @include breakpoint(phone) {
            padding: 0;
        }
    
        img {
            width: 40px;
            height: 56px;
            border-radius: 8px;
        }
    
        .list-pic1{
            margin-right: 8px;
        }
    
        .list-pic2{
            margin-right: 8px;
            position: relative;
    
            &::before{
                content: '184';
                color: var(--white);
                font-size: 10px;
                line-height: 15px;
                font-weight: 600;
                text-align: center;
                position: absolute;
                width: 26px;
                height: 16px;
                border-radius: 16px;
                background-color: var(--orange);
                top: -8px;
                right: -6px;
            }
        }
    
        .list-pic3{
            margin-right: 8px;
            position: relative;
    
            &::before{
                content: '2';
                color: var(--white);
                font-size: 10px;
                line-height: 15px;
                font-weight: 600;
                text-align: center;
                position: absolute;
                width: 16px;
                height: 16px;
                border-radius: 16px;
                background-color: var(--orange);
                top: -8px;
                right: -6px;
            }
        }
    
        .list2-pic1{
            margin-right: 8px;
            position: relative;
    
            &::before{
                content: '16';
                color: var(--white);
                font-size: 10px;
                line-height: 15px;
                font-weight: 600;
                text-align: center;
                position: absolute;
                width: 20px;
                height: 16px;
                border-radius: 16px;
                background-color: var(--orange);
                top: -8px;
                right: -6px;
            }
        }
    }
}
.delivery__back {
    padding: 0 24px 0 24px;
    display: flex;
    align-items: center;
    position: relative;

    .back__about {
        visibility: hidden;
        position: absolute;
        top: 28px;
        left: 25%;
        width: 288px;
        height: 56px;
        padding: 10px 16px 14px 16px;
        border-radius: 8px;
        background-color: var(--white);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    }

    span {
            position: relative;
            width: 20px;
            height: 20px;
            top: 1px;
            left: 1px;
            margin-right: 10px;
            border-radius: 50%;
            background: linear-gradient(to left, var(--gradient-start), var(--gradient-end));

            @include breakpoint(phone) {
                width: 30px;
            }

        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            border-radius: 50%;
            background: var(--white);
        }

        &::after {
            content: '';
            left: 2px;
            top: 2px;
            position: absolute;
            height: 15px;
            width: 15px;
            background-image: url('/src/assets/images/Tick.svg');
            background-repeat: no-repeat;
            background-position: 65% 50%;
            
        }
    }

    div {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        padding: 2px 0 0 0;

        @include breakpoint(phone) {
            line-height: 14px;
        }

        a {
           color: var(--green);
           border-bottom: 1px dashed var(--light-green);
        
           &:hover + .back__about {
            visibility: visible;
           }
        }
    }
}
.delivery__modal {
    visibility: hidden;
    position: fixed;
    width: 400px;
    height: 408px;
    border-radius: 16px;
    left: 40%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 3;

    @include breakpoint(tablet) {
        position: fixed;
        display: flex;
        width: 80%;
        height: 50%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
    }

    @include breakpoint(phone) {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        transform: translateX(0);
    }

    &-title {
        display: flex;
        justify-content: space-between;
        padding: 16px 24px 13px 24px;
        font-size: 20px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: -0.20px;
    }

    &.modal__active{
        visibility: visible;
    }

    &-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    } 
    &-card {
        display: flex;
        padding: 0 22px 0 22px;
        align-items: center;
        margin-bottom: 16px;
    }
    &-card-input {
        position: relative;
        margin-right: 26px;
        cursor: pointer;
    
    
        &.active__system{
            &::before {
                content: '';
                width: 16px;
                height: 16px;
                position: absolute;
                left: 0;
                top: -7px;
                background-color: var(--magenta);
                border-radius: 50%;
                border: none;
            }
    
            &::after {
                content: '';
                width: 8px;
                height: 8px;
                position: absolute;
                left: 4px;
                top: -3px;
                background-color: var(--white);
                border-radius: 50%;
                border: none;
            }
        }
    
        &::before {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            left: 0;
            top: -7px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid var(--light-gray);
        }
        input {
            display: none;
        }
    }
    &-card-img {
        margin-right: 5px;
    }
    &-card-number {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
    &-btn1 {
        padding: 16px 24px 24px 24px;
        display: flex;
        justify-content: left;
    
        @include breakpoint(phone) {
            margin-top: 320px;
            justify-content: center;
        }
    
        button {
            background-color: var(--magenta);
            width: 164px;
            height: 44px;
            border-radius: 8px;
            padding: 0 48px 5px 48px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            align-items: center;
            color: var(--white);
    
            @include breakpoint(phone){
                width: 100%;
            }
        }
    }
}
.modal__back {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: rgba(5, 0, 10, 0.3);
    user-select: none;

    &.back__active {
        display: block;
    }
}
.modal__title {
}
.modal__button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;

    &::before {
        position: absolute;
        content: '';
        background-color: var(--gray);
        right: 0;
        top: 50%;
        width: 18px;
        height: 2px;
        rotate: (45deg);
    }
    &::after {
        position: absolute;
        content: '';
        background-color: var(--gray);
        right: 0;
        top: 50%;
        width: 18px;
        height: 2px;
        rotate: (-45deg);
    }
}
.modal__body {
    display: flex;
    flex-direction: column;
}