@use '../util/' as *;

.footer{
    height: 88px;
    width: 100%;
    background-color: var(--violet)
}
.footer__back{
    background-color: var(--smoky);
    width: 100%;
    height: 45px;
    border-radius: 0 0 24px 24px;
}
.footer__rights{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 13px;
    height: 100%;
    line-height: 16px;
    text-align: center;
    color: var(--light-white);
    letter-spacing: 0.1px;

    @include breakpoint(phone) {
       padding: 40px 0 90px 0;
    }
}

