@use '../util' as *;

.main {
    font-family: var(--font-segoe);
    color: var(--black);
    height: 100%;
    background-color: var(--smoky);

    @include breakpoint(phone) {
        border-radius: 25px 25px 0 0;
    }
}
.main__wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding: 10px 24px 16px 24px;
    position: relative;
    
    @include breakpoint(tablet) {
        flex-direction: column;
        padding: 0 16px 0 16px;
    }

    @include breakpoint(phone) {
        flex-direction: column;
        padding: 0 16px 0 16px;
    }
}
.main__bucket {
    max-width: 891px;
    min-width: 640px;
    width: 100%;
    height: 100%;
    margin-right: 32px;

    @include breakpoint(tablet) {
        margin-bottom: 80px;
    }

    // @include breakpoint(tabphone) {
    //     margin-bottom: 80px;
    //     max-width: 100vw;
    // }

    @include breakpoint(phone) {
        max-width: 288px;
        margin-right: 0;
        margin-bottom: 0;
    }

    h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 23px;
        letter-spacing: -0.02px;

        @include breakpoint(phone) {
            font-size: 20px;
            line-height: 32px;
            padding: 14px 0 0 0;
        }
    }
}
.main__bill {
    background-color: var(--white);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
    z-index: 1;
    max-width: 429px;
    max-height: 572px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    margin-top: -12px;

    @include breakpoint(tablet) {
        max-width: 996px;
        margin-bottom: 70px;
    }

    @include breakpoint(phone) {
        max-width: 429px;
        background-color: transparent;
        box-shadow: none;
        padding: 16px 0 24px 0;
        margin-bottom: 0;
    }
}