@use '../util/' as *;

.bucket__not-available {
    margin-bottom: 40px;

    @include breakpoint(tabphone) {
        width: 100vw;
        padding: 10px 16px 24px 16px;
        margin-left: -16px;
    }

    @include breakpoint(phone) {
        width: 100%;
        margin-bottom: 27px;
        padding: 0;
        margin-left: 0;
    }
}
.not-available__hide {
    &.reversed-hide {
        &::before {
            position: absolute;
            top: 12px;
            right: 1px;
            content: '';
            width: 11px;
            height: 2px;
            transform: rotate(-45deg);
            background-color: var(--gray);

            @include breakpoint(phone) {
                right: 5px;
            }
        }

        &::after {
            position: absolute;
            top: 12px;
            right: 8px;
            content: '';
            width: 11px;
            height: 2px;
            transform: rotate(45deg);
            background-color: var(--gray);

            @include breakpoint(phone) {
                right: 12px;
            }
        }
    }
}
.not-available__hide-item {
    border-top: 0.5px solid rgba(0, 0, 0, 0.2);
    display: block;

    &.hidden{
        display: none;
    }

    @include breakpoint(tabphone) {
        border-top: none;
    }

    @include breakpoint(phone) {
        border-top: none;
    }
}
.choose__all-not {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.not-available__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: var(--light-gray);

    @include breakpoint(tabphone) {
        flex-direction: column;
        max-width: 100%;
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 8px;
    }

    @include breakpoint(phone) {
        flex-direction: column;
        max-width: 288px;
        border-top: 0.5px solid rgba(0, 0, 0, 0.2);
        margin-bottom: 8px;
    }
}
.not-item__about {
    padding: 12px 0 0 0;
    display: flex;
}
.not-item__photo {
    position: relative;
    margin-right: 16px;

    & img {
        border-radius: 8px;
        filter: grayscale(100%); 
    }

    & input {
        display: none;
    }

    @include breakpoint(phone) {

        img {
            width: 80px;
            height: 108px;
        }
    }
}
.not-item__info {
    max-width: 309px;
}
.not-info {
}
.not-info__name {
    line-height: 24px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 8px;

    @include breakpoint(tabphone) {
        font-size: 14px;
        line-height: 21px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
        max-width: 240px;
    }

    @include breakpoint(phone) {
        max-width: none;
        font-size: 14px;
        line-height: 21px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }
}
.not-info__param {
    display: flex;
    font-weight: 400px;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 8px;
}
.not-info__color {
    margin-right: 16px;
}
.not-info__size {

    @include breakpoint(phone) {
        display: none;
    }
}
.not-item__counter {
    width: 226px;

    @include breakpoint(tabphone) {
        width: 400px;
    }

    @include breakpoint(phone) {
        width: 226px;
    }
}
.not-item__count {
    margin-right: 16px;
    padding: 3px 0 0 0;
    width: 100px;
    height: 44px;
}
.count {
}
.not-count__liked {
    display: flex;
    width: 100px;
    justify-content: flex-end;
    padding: 10px 2px 0 0;

    @include breakpoint(tabphone) {
        width: 328px;
        align-items: flex-end;
    }

    @include breakpoint(phone) {
        width: 288px;
        align-items: flex-end;
    }
}
.not-count__like {
    margin-right: 18px;
    width: 20px;
    height: 20px;

    @include breakpoint(phone) {
        margin-right: 25px;
    }
}
.not-count__remove {
    width: 16px;
    height: 17px;

    @include breakpoint(phone) {
        margin-right: 5px;
    }
}