@use '../util/' as *;

.bucket__receiver {
    background-color: var(--white);
    padding: 17px 24px 24px 24px;
    border-radius: 16px;
    color: var(--light-gray);

    @include breakpoint(tabphone) {
        width: 100vw;
        padding: 10px 16px 24px 16px;
        margin-left: -16px;
    }

    @include breakpoint(phone) {
        max-width: 320px;
        margin-left: -16px;
        padding: 10px 16px 24px 16px;
        margin-bottom: 16px;
    }

    h2 {
        max-width: 755px;
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.11px;
        margin-right: 10px;
        margin-bottom: 16px;
        color: var(--black);

        @include breakpoint(phone) {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.20px;
            margin-bottom: 5px;
        }
    }
}
.receiver__name {
    max-width: 700px;
    display: flex;
    align-items: center;
    margin-bottom: 1px;

    @include breakpoint(tabphone) {
        flex-direction: column;
    }

    @include breakpoint(phone) {
        flex-direction: column;
    }
}
.receiver__more {
    max-width: 700px;
    display: flex;
    align-items: center;

    @include breakpoint(tabphone) {
        flex-direction: column;
    }

    @include breakpoint(phone) {
        flex-direction: column;
    }
}
.name {
    &__name {
        flex: 1 1 50%;
        margin-right: 24px;
    
        @include breakpoint(tabphone) {
            width: 100%;
            margin: 0 0 10px 0;
        }
    
        @include breakpoint(phone) {
            width: 288px;
            margin: 0 0 10px 0;
        }
    }
    &__name-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
        visibility: hidden;
    
        &.active-hat{
            visibility: visible;
        }
    }
    &__name-input {
        width: 100%;
        border-bottom: 2px solid var(--light-gray);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
    
        &.error {
            color: red;
        }
    }
    &__name-help {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        visibility: hidden;
    
        &.error {
            color: red;
            visibility: visible;
        }
    }
    &__second {
        flex: 1 1 50%;
        width: 100%;
    
    
        @include breakpoint(tabphone) {
            width: 100%;
        }
    
        @include breakpoint(phone) {
            width: 288px;
            margin-bottom: 9px;
        }
    }
    &__second-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
        visibility: hidden;
    
        &.active-hat{
            visibility: visible;
        }
    }
    &__second-input {
        width: 100%;
        border-bottom: 2px solid var(--light-gray);
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 4px;
        
        &.error {
            color: red;
        }
    }
    &__second-help {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        visibility: hidden;
    
        &.error {
            color: red;
            visibility: visible;
        }
    }   
}
.receiver__more {
}
.more {
    &__email {
        flex: 1 1 33.3%;
        margin-right: 24px;
    
    
        @include breakpoint(tabphone) {
            width: 100%;
            margin: 0 0 8px 0;
        }
    
        @include breakpoint(phone) {
            width: 288px;
            margin: 0 0 8px 0;
        }
    }
    &__email-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
        visibility: hidden;
    
        &.active-hat{
            visibility: visible;
        }
    }
    &-email {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 2px solid var(--light-gray);
        width: 100%;
        margin-bottom: 7px;
        
        &.error {
            color: red;
        }
    }
    &__email-help {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        visibility: hidden;
    
        &.error {
            color: red;
            visibility: visible;
        }
    }
    &__tel {
        flex: 1 1 33.3%;
        margin-right: 24px;
    
        &.error {
            color: red;
        }
    
        @include breakpoint(tabphone) {
            width: 100%;
            margin: 0 0 8px 0;
        }
    
        @include breakpoint(phone) {
            width: 288px;
            margin: 0 0 6px 0;
        }
    }
    &__tel-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
        visibility: hidden;
    
        &.active-hat{
            visibility: visible;
        }
    }
    &-tel {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 2px solid var(--light-gray);
        width: 100%;
        margin-bottom: 7px;
    
        &.error {
            color: red;
        }
    
        &::placeholder {
            color: var(--black);
        }
    }
    &__tel-help {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        visibility: hidden;
    
        &.error {
            color: red;
            visibility: visible;
        }
    }
    &__number {
        flex: 1 1 33.3%;
    
        &.error {
            color: red;
        }
    
        @include breakpoint(tabphone) {
            width: 100%;
        }
    
        @include breakpoint(phone) {
            width: 288px;
        }
    }
    &__number-title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 2px;
        visibility: hidden;
    
        &.active-hat{
            visibility: visible;
        }
    }
    &-number {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        border-bottom: 2px solid var(--light-gray);
        width: 100%;
        margin-bottom: 7px;
    
        @include breakpoint(phone) {
            margin-bottom: 3px;
        }
    
        &.error {
            color: red;
        }
    }
    &__number-help {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        visibility: hidden;
    
        &.error {
            color: red;
            visibility: visible;
        }
    }
}